{% extends 'base.html' %}

{% block title %} MOVIE PAGE {% endblock %}

{% block content %}
{% if role == "admin" %}
<button class="btn btn-danger">Delete</button>
{% endif %}
<h1>This is Movie page</h1>
<hr>
<!--{% for movie in movies%}-->
<!--    <h1>{{ movie["title"] }} - {{ movie["description"] }}</h1>-->

<!--{% endfor%}-->
<div class="row">
    {% for movie in movies %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/{{ movie['img'] }}" height="400px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ movie["title"] }}</h5>
                <p class="card-text">{{ movie["rating"] }}</p>
                <a href=" /movie/{{ movie['id'] }}" class="btn btn-primary">See details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

