{% extends "base.html" %}


{% block content %}
<h1>This is Register page</h1>
<div class="row">
    <form method="post" class="col p-5">
        {{ form.hidden_tag()}}
        <div class="row">
            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.confirm_password(class="form-control", placeholder=form.confirm_password.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.age(class="form-control", placeholder=form.age.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.birthdate(class="form-control", placeholder=form.birthdate.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.gender(class="form-control", placeholder=form.gender.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.country(class="form-control", placeholder=form.country.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.register(class="btn btn-outline-success", placeholder=form.register.label.text) }}
        </div>
    </form>
</div>
{% endblock %}



